* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../img/nature.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding: 1.875rem;
}

.header {
  width: 100%;
}

.header-items {
  margin: 0 auto;
  text-align: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.logo {
  width: 100%;
  border-radius: 50%;
  max-width: 9.375rem;
  padding: 1.875rem;
}

h1 {
  width: 100%;
  font-size: 3rem;
  color: white;
  margin: 0 auto;
  text-align: center;
  /*text-shadow: 2px 2px 8px #000000;*/
  text-shadow: 0 0 3px #09ff00, 0 0 5px #0000FF;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  padding-bottom: 1.875rem;
  text-shadow: 2px 2px 8px #000000;
  letter-spacing: 0.1rem;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.125rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 37.5em) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 37.5em) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.25rem;
}

.first-block-main {
  padding: 1.25rem;
  background-color: rgba(245, 255, 245, 0.8);
  border-radius: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.p-main {
  font-size: 1.2rem;
  color: black;
  line-height: 1.5;
  text-shadow: whitesmoke 2px 2px;
}

.footer {
  padding: 1.875rem;
  text-align: center;
  letter-spacing: 0.1rem;
  background-color: black;
  color: #ccffcc;
}